@use "../abstracts/variables" as var;

.button {
    align-self: center;
    display: flex;
    align-items: center;
    background-color: var.$yellow;
    border: none;
    margin: 0;
    gap: 20px;
    padding: 24px;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &--positionB30P {
        position: absolute;
        bottom: 22.3%;
    }

    &--settings-page{
        padding: 14px 20px !important;
    }

    &__img--left {
        transition: transform 200ms ease-in-out;
    }

    &__img--left-settings-page{
        transition: transform 200ms ease-in-out;
    }

    &__span{
        font-family: "RedRose";
        font-weight: 700;
        color: #303131;
        font-size: clamp(32px, 5vw, 40px);

        &--settings-page{
            font-size: 20px;
        }
    }

    &:hover {
        padding: 27px 32px;
        transform: translateY(2px);

        .button{
            &__img--left {
                transform: rotate(-25.77deg) scale(1.1);
            }

            &__img--left-settings-page{
                transform: rotate(-10deg) scale(1.1);
            }
            
            &__images__img--no-hover{
                opacity: 0;
            }
            
            &__images__img--hover{
                opacity: 1;
            }

        }
    }
}

.button--settings-pageT:hover{
    transform: scale(1.1);
    margin-right: 8px;
    margin-left: 8px;
}

.button__images{
    position: relative;
    display: flex;
    width: 40px;
    height: 30px;

    &__img {
        position: absolute;
        inset: 0;
        transition: opacity 200ms ease-in-out;
        object-fit: contain;
        align-self: center;
        justify-self: center;
    
        &--hover{
            opacity: 0;
        }
    }
}