@use "../abstracts/variables" as var;

.button-global {
    align-self: center;
    display: flex;
    align-items: center;
    background-color: var.$yellow;
    border: none;
    margin: 0;
    gap: 20px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    position: relative;

    &:disabled{
        cursor: not-allowed;
        background-color: #dbdbd6;
    }

    &--index{
        position: absolute;
        bottom: 22.3%;
        padding: 24px;

        &:hover{
            padding: 27px 32px;
            transform: translateY(2px);

            .button-global {
                &__img {
                    transform: rotate(-25.77deg) scale(1.1);
                }

                &__images__img--no-hover{
                    opacity: 0;
                }
            
                &__images__img--hover{
                    opacity: 1;
                }
            }
        }
    }

    &--settings{
        padding: 14px 20px;

        &:not(:disabled):hover{
            transform: scale(1.1);
            margin-right: 8px;
            margin-left: 8px;

            .button-global__img{
                transform: rotate(-10deg) scale(1.1);
            }
        }
    }

    &__img {
        transition: transform 200ms ease-in-out;
    }

    &__span{
        font-family: "RedRose";
        font-weight: 700;
        color: #303131;

        &--index{
            font-size: clamp(32px, 5vw, 40px);
        }

        &--settings{
            font-size: clamp(16px, 1.389vw, 20px);
        }
    }

    &:not(:disabled) > &__veil{
        display: none;
    }

    &:disabled > &__veil{
        display: flex;
        position: absolute;
        inset: 0;
        background-color: #dbdbd6a1;
    }
}

.button-global__images{
    position: relative;
    display: flex;
    width: 40px;
    height: 30px;

    &__img {
        position: absolute;
        inset: 0;
        transition: opacity 200ms ease-in-out;
        object-fit: contain;
        align-self: center;
        justify-self: center;
    
        &--hover{
            opacity: 0;
        }
    }
}