@use "../abstracts/mixins" as mix;

.game-section {
    display: flex;
    width: 100vw;
    position: relative;
    flex-direction: column;
    align-items: center;

    &--code-vibes-theme{
        background-color: #303131;
        gap: 54px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    width: stretch;
    margin: 16px;
    flex-wrap: wrap;
    gap: 16px 32px;

    @include mix.responsiveMaxX(823px) {
        justify-content: center;
    }

    &--code-vibes-theme{
        max-width: 1217px;
        padding: 0;
        background-color: transparent;
    }

    @include mix.responsiveMaxX(400px) {
        gap: 8px 16px;
        justify-content: center;
    }
}

.header__counters {
    display: flex;

    &--code-vibes-theme {
        padding: 17px 20px;
        gap: 20px;
        background-color: #415652;
    }
}

.header__counters__counter {
    display: flex;
    gap: 4px;
    align-items: center;

    &__img {
        height: 20px;
    }

    &_span{
        font-family: 'RedRose';
        font-weight: 700;
        font-size: 24px;
        white-space: nowrap;

        &--blue{
            color: #2BB1FF;
        }

        &--orange{
            color: #F58E39;
        }

        &--font-comfortaa{
            font-family: 'Comfortaa';
            width: 1ch;
        }
    }
}

.header__current-player {
    display: flex;
    gap: 8px;
    align-items: center;

    &--code-vibes-theme{
        align-self: end;
    }

    &__span {
        
        &--code-vibes-theme{
            white-space: nowrap;
            font-family: 'RedRose';
            font-weight: 400;
            font-size: 26px;
            color: white;
        }
    }

    &__img {
        height: 24px;
    }
}

.header__button {
    display: flex;
    align-items: center;
    // border: 0;
    cursor: pointer;
    // background-color: darkcyan;
    color: white;

    &__div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 213px;
    }

    &--code-vibes-theme{
        padding: 16px 24px;
        gap: 10px;
        background-color: #405551;
        border: solid 1px #4DD5BC;
        transition: all 200ms ease-out;

        &:hover{
            box-shadow: 4px 4px 4px rgba(240, 234, 110, 0.2)
        }
    }

    &:hover{
        border-width: 3px;
    }

    &__span {
        white-space: nowrap;

        &--code-vibes-theme{
            font-family: 'RedRose';
            font-weight: 700;
            font-size: 24px;
        }
    }
}

.game-field {
    display: grid;
    width: 100%;
    box-sizing: border-box;

    &--code-vibes-theme-cards16{
        grid-template-columns: repeat(4, minmax(auto, 120px));
        gap: 16px;
        padding: 0 16px;
        max-width: 561px;
    }
    
    &--code-vibes-theme-cards24{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 6px;
        padding: 0 6px;
        max-width: 763px;
    }
    
    &--code-vibes-theme-cards36{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 6px;
        padding: 0 6px;
        max-width: 763px;
    }

    &--gaming-theme-cards16{
        grid-template-columns: repeat(4, minmax(auto, 105px));
        gap: 16px;
        padding: 0 16px;
        max-width: 501px;
    }
    
    &--gaming-theme-cards24{
        grid-template-columns: repeat(6, minmax(auto, 105px));
        gap: 6px;
        padding: 0 6px;
        max-width: 673px;
    }
    
    &--gaming-theme-cards36{
        grid-template-columns: repeat(6, minmax(auto, 105px));
        gap: 6px;
        padding: 0 6px;
        max-width: 673px;
    }
    
    &--da-projects-theme-cards16{
        grid-template-columns: repeat(4, minmax(auto, 120px));
        gap: 16px;
        padding: 0 16px;
        max-width: 561px;
    }
    
    &--da-projects-theme-cards24{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 6px;
        padding: 0 6px;
        max-width: 775px;
    }
    
    &--da-projects-theme-cards36{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 8px;
        padding: 0 8px;
        max-width: 777px;
    }
    
    &--foods-theme-cards16{
        grid-template-columns: repeat(4, minmax(auto, 122px));
        gap: 16px;
        padding: 0 16px;
        max-width: 569px;
    }

    &--foods-theme-cards24{
        grid-template-columns: repeat(6, minmax(auto, 122px));
        gap: 8px;
        padding: 0 8px;
        max-width: 788px;
    }

    &--foods-theme-cards36{
        grid-template-columns: repeat(6, minmax(auto, 122px));
        gap: 6px;
        padding: 0 6px;
        max-width: 775px;
    }
}

.card {
    position: relative;
    padding: 0;
    border: none;
    cursor: pointer;

    &[data-revealed="true"]::before {
        content: "";
        position: absolute;
        inset: 0px;
        border: 5px solid #4DD5BC;
        border: 3px solid #ED1B76;
        border: 2px solid #1E7594;
        border: 4px solid #F3832D;
        pointer-events: none;
        z-index: 1;
        cursor: default;
    }

    &__inner {
        position: relative;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;

        &--xy-size-code-vibes-theme{
            aspect-ratio: 1 / 1;
        }

        &--xy-size-gaming-theme{
            aspect-ratio: 1 / 1.143;
        }

        &--xy-size-da-projects-theme{
            aspect-ratio: 1 / 0.8334;
        }

        &--xy-size-foods-theme{
            aspect-ratio: 1 / 0.9837;
        }
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        pointer-events: none;
        width: 100%;
        height: 100%;

        &--front {
            transform: rotateY(180deg);
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }
}

.query-overlay {
    position: absolute;
    inset: 0;
    background-color: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__pop-up {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 16px;

        &--code-vibes-theme{
            padding: 40px;
            gap: 54px;
        }

        &__span {

            &--code-vibes-theme{
                font-family: 'RedRose';
                font-weight: 700;
                font-size: 32px;
                color: #303131;
                width: 24ch;
            }
        }
    }
}

.query-overlay__pop-up__buttons {
    display: flex;
    gap: 16px;

    &__button {
        cursor: pointer;

        &--first {
            &-code-vibes-theme{
                background-color: #66cfbc;
                border: solid 2px #66cfbc;
                color: white;
                padding: 16px 24px;
                font-size: 20px;
                font-weight: 600;
            }
        }

        &--second {
            &-code-vibes-theme{
                background-color: #eefcf9;
                border: solid 2px #4dd5bc;
                color: #4dd5bc;
                padding: 16px 24px;
                font-size: 20px;
                font-weight: 600;
            }
            
        }
    }
}

.game-over {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    z-index: 1;

    &__img {
        height: 150px;
        width: 600px;
        background-color: aqua;
    }

    &__span {
        margin-top: 120px;
        margin-bottom: 16px;
        font-size: 24px;
    }
}

.winner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    z-index: 1;

    &__special-img {
        display: none;
        height: 200px;
        width: 900px;
        background-color: red;
        margin-bottom: 24px;
    }

    &__span {
        font-size: 24px;
        margin-bottom: 8px;
    }

    &__h2 {
        margin: 0;
        font-size: 48px;
    }

    &__img {
        width: 200px;
        height: 280px;
        margin-top: 48px;
        margin-bottom: 40px;
        background-color: orange;
    }
}

.display-none {
    display: none;
}
