@use "../abstracts/mixins" as mix;

.game-section {
    display: flex;
    width: 100vw;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 54px;

    &--code-vibes-theme{
        background-color: #303131;
    }

    &--gaming-theme{
        background-color: #294F60;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    width: stretch;
    margin: 16px;
    flex-wrap: wrap;
    gap: 16px 32px;

    &--code-vibes-theme{
        max-width: 1217px;
        padding: 0;
        background-color: transparent;

        @include mix.responsiveMaxX(823px) {
            justify-content: center;
        }

        @include mix.responsiveMaxX(400px) {
            gap: 8px 16px;
            justify-content: center;
        }
    }

    &--gaming-theme{
        background-color: #FD96C933;
        border-radius: 10px;
        padding: 24px;
        max-width: 1219px;

    }
}

.header__counters {
    display: flex;

    &--code-vibes-theme {
        padding: 17px 20px;
        gap: 20px;
        background-color: #415652;
    }

    &--gaming-theme{
        border-radius: 10px;
        padding: 8.5px 16px;
        gap: 40px;
        background-color: white;
    }
}

.header__counters__counter {
    display: flex;
    align-items: center;

    &--code-vibes-theme{
        gap: 4px;
    }
    
    &--gaming-theme{
        gap: 8px;
    }

    &__img {
        
    }

    &_span{
        white-space: nowrap;
        width: 1ch;

        &-name{
            font-family: 'RedRose';
            font-weight: 700;
            font-size: 24px;
        }
        
        &--blue{
            color: #2BB1FF;
        }
        
        &--orange{
            color: #F58E39;
        }
        
        &--code-vibes-theme{
            font-family: 'Comfortaa';
            font-weight: 700;
            font-size: 24px;
            
        }

        &--gaming-theme{
            font-family: 'Orbitron';
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.header__current-player {
    display: flex;
    align-items: center;

    &--code-vibes-theme{
        align-self: end;
        gap: 8px;
    }

    &--gaming-theme{
        gap: 18px;
    }

    &__span {
        white-space: nowrap;

        &--code-vibes-theme{
            font-family: 'RedRose';
            font-weight: 400;
            font-size: 26px;
            color: white;
        }

        &--gaming-theme{
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 32px;
            color: white;
        }
    }

    &__img {
        // height: 24px;
    }
}

.header__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;

    &__div{
        display: flex;
        align-items: center;
        justify-content: center;

        &--code-vibes-theme{
            width: 213px;
            height: 64px;
        }

        &--gaming-theme{
            width: 194px;
            height: 60px;
        }
    }

    &--code-vibes-theme{
        padding: 16px 24px;
        gap: 10px;
        background-color: #405551;
        border: solid 1px #4DD5BC;
        transition: all 200ms ease-out;

        &:hover{
            box-shadow: 4px 4px 4px rgba(240, 234, 110, 0.2)
        }
    }

    &--gaming-theme{
        background-color: #ED1B7614;
        padding: 12px 20px;
        border-radius: 10px;
        border: solid 2px #E71C4F;
        gap: 10px;

        &:hover{
            background-color: #ED1B7624;
        }
    }

    &:hover{
        border-width: 3px;
    }

    &__span {
        white-space: nowrap;

        &--code-vibes-theme{
            font-family: 'RedRose';
            font-weight: 700;
            font-size: 24px;
        }

        &--gaming-theme{
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.game-field {
    display: grid;
    width: 100%;
    box-sizing: border-box;

    &--code-vibes-theme-16-cards{
        grid-template-columns: repeat(4, minmax(auto, 120px));
        gap: 16px;
        padding: 0 16px;
        max-width: 561px;
    }
    
    &--code-vibes-theme-24-cards{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 6px;
        padding: 0 6px;
        max-width: 763px;
    }
    
    &--code-vibes-theme-36-cards{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 6px;
        padding: 0 6px;
        max-width: 763px;
    }

    &--gaming-theme-16-cards{
        grid-template-columns: repeat(4, minmax(auto, 105px));
        gap: 16px;
        padding: 0 16px;
        max-width: 501px;
    }
    
    &--gaming-theme-24-cards{
        grid-template-columns: repeat(6, minmax(auto, 105px));
        gap: 6px;
        padding: 0 6px;
        max-width: 673px;
    }
    
    &--gaming-theme-36-cards{
        grid-template-columns: repeat(6, minmax(auto, 105px));
        gap: 6px;
        padding: 0 6px;
        max-width: 673px;
    }
    
    &--da-projects-theme-16-cards{
        grid-template-columns: repeat(4, minmax(auto, 120px));
        gap: 16px;
        padding: 0 16px;
        max-width: 561px;
    }
    
    &--da-projects-theme-24-cards{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 6px;
        padding: 0 6px;
        max-width: 775px;
    }
    
    &--da-projects-theme-36-cards{
        grid-template-columns: repeat(6, minmax(auto, 120px));
        gap: 8px;
        padding: 0 8px;
        max-width: 777px;
    }
    
    &--foods-theme-16-cards{
        grid-template-columns: repeat(4, minmax(auto, 122px));
        gap: 16px;
        padding: 0 16px;
        max-width: 569px;
    }

    &--foods-theme-24-cards{
        grid-template-columns: repeat(6, minmax(auto, 122px));
        gap: 8px;
        padding: 0 8px;
        max-width: 788px;
    }

    &--foods-theme-36-cards{
        grid-template-columns: repeat(6, minmax(auto, 122px));
        gap: 6px;
        padding: 0 6px;
        max-width: 775px;
    }
}

.card {
    position: relative;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &[data-revealed="true"]::before {
        content: "";
        position: absolute;
        inset: 0px;
        pointer-events: none;
        z-index: 1;
        cursor: default;
    }

    &--code-vibes-theme[data-revealed="true"]::before {
        border: 5px solid #4DD5BC;
    }

    &--gaming-theme[data-revealed="true"]::before {
        border: 3px solid #ED1B76;
    }

    &--da-projects-theme[data-revealed="true"]::before {
        border: 2px solid #1E7594;
    }

    &--foods-theme[data-revealed="true"]::before {
        border: 4px solid #F3832D;
    }

    &__inner {
        position: relative;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;

        &--xy-size-code-vibes-theme{
            aspect-ratio: 1 / 1;
        }

        &--xy-size-gaming-theme{
            aspect-ratio: 1 / 1.143;
        }

        &--xy-size-da-projects-theme{
            aspect-ratio: 1 / 0.8334;
        }

        &--xy-size-foods-theme{
            aspect-ratio: 1 / 0.9837;
        }
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        pointer-events: none;
        width: 100%;
        height: 100%;

        &--front {
            transform: rotateY(180deg);

            &-gaming-theme{
                border-radius: 12px;
            }
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }
}

.query-overlay {
    position: absolute;
    inset: 0;
    background-color: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__pop-up {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 16px;

        &--code-vibes-theme{
            padding: 40px;
            gap: 54px;
        }

        &__span {

            &--code-vibes-theme{
                font-family: 'RedRose';
                font-weight: 700;
                font-size: clamp(20px, 2.22vw, 32px);
                color: #303131;
                width: 24ch;

                @include mix.responsiveMaxX(430px) {
                    width: auto;
                }
            }
        }
    }
}

.query-overlay__pop-up__buttons {
    display: flex;
    gap: 16px;

    &__button {
        cursor: pointer;
        
        &--code-vibes-theme{
            font-size: clamp(16px, 1.389vw, 20px);
        }

        &--first {
            &-code-vibes-theme{
                background-color: #66cfbc;
                border: solid 2px #66cfbc;
                color: white;
                padding: 16px 24px;
                font-weight: 600;
            }
        }

        &--second {
            &-code-vibes-theme{
                background-color: #eefcf9;
                border: solid 2px #4dd5bc;
                color: #4dd5bc;
                padding: 16px 24px;
                font-weight: 600;
            }
            
        }
    }
}

.game-over {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    z-index: 1;

    &--code-vibes-theme{
        background-color: #303131;
    }

    &__h1{
        //
        //
        //

        &--code-vibes-theme{
            color: #4DD5BC;
            text-shadow: -7px 0px 8px #4DD5BC80, -2px -2px white;
            font-size: 189px;
            font-family: 'RedRose';
            margin: 0;
            font-weight: 900;
        }
    }

    // &__img {
    //     height: 150px;
    //     width: 600px;
    //     background-color: aqua;
    // }

    &__span {
        // margin-top: 120px;
        // margin-bottom: 16px;
        // font-size: 24px;

        &--code-vibes-theme{
            color: white;
            font-family: 'RedRose';
            font-size: 26px;
            margin-bottom: 24px;
            margin-top: 72px;
        }
    }
}

.winner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    z-index: 1;

    &--code-vibes-theme{
        justify-content: flex-start;
        background-color: #303131;
    }

    &__special-img {
        &--code-vibes-theme{
            width: 100%;
            aspect-ratio: 1 / 0.29085;
            max-width: 1233.922px;
        }
        
    }

    &__span {
        //
        //
        //

        &--code-vibes-theme{
            margin-top: -32px;
            font-size: 40px;
            font-family: 'RedRose';
            color: white;
        }
    }

    &__h1 {
        margin: 0;
        color: black;

        &--code-vibes-theme{
            font-family: 'RedRose';
            font-size: 60px;
            font-weight: 700;
            margin-top: 10px;
        }
    }

    &__img {
        //
        //
        //

        &--code-vibes-theme{
            margin: 64px 0;
        }
    }
}

.display-none {
    display: none;
}