@use "../abstracts/mixins" as mix;

.game-section {
    display: flex;
    gap: 8px;
    width: 100vw;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background-color: grey;
    height: fit-content;
    align-items: center;
    max-width: 880px;
    width: stretch;
    margin: 16px;
    flex-wrap: wrap;

    @include mix.responsiveMaxX(400px) {
        gap: 8px 16px;
        justify-content: center;
    }
}

.header__counters {
    display: flex;
    gap: 12px;
    background-color: lightgray;
    padding: 8px;
}

.header__counters__counter {
    display: flex;
    gap: 4px;

    &__img {
        width: 16px;
        aspect-ratio: 1 / 1;

        &--blue {
            background-color: blue;
        }

        &--orange {
            background-color: orange;
        }
    }
}

.header__current-player {
    display: flex;
    gap: 8px;

    &__span {
        white-space: nowrap;
    }

    &__img {
        width: 16px;
        aspect-ratio: 1 / 1;

        &--blue {
            background-color: blue;
        }

        &--orange {
            background-color: orange;
        }
    }
}

.header__button {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 0;
    padding: 8px 12px;
    cursor: pointer;
    background-color: darkcyan;
    color: white;

    &__span {
        white-space: nowrap;
    }

    &__img {
        width: 16px;
        aspect-ratio: 1 / 1;
        background-color: black;
    }
}

.game-field {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 408px;
    margin: 16px;
    width: stretch;

    &--cardsOver16 {
        gap: 4px;
        max-width: 596.1px;
    }
}

.cards16 {
    flex: 0 0 calc((100% - 24px) / 4);
}

.test {
    flex: 0 0 calc((100% - 16px) / 5);
}

.cardsOver16 {
    flex: 0 0 calc((100% - 20px) / 6);
}

.card {
    @include mix.flex-center-x-y;

    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: 0;
    padding: 0;

    &__inner {
        position: relative;
        height: 100%;
        aspect-ratio: 1 / 1;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face {
        position: absolute;
        inset: 0;
        background-color: black;
        backface-visibility: hidden;
        aspect-ratio: 1 / 1;
        height: 100%;
        pointer-events: none;

        &--back {
            transform: rotateY(180deg);
            background-color: red;
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }
}

.query-overlay {
    position: absolute;
    inset: 0;
    background-color: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;

    &__pop-up {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px;
        gap: 24px;

        max-width: 300px;
        width: stretch;
        margin: 16px;

        &__span {
            font-size: 24px;
        }
    }
}

.query-overlay__pop-up__buttons {
    display: flex;
    gap: 16px;

    &__button {
        border: solid 2px transparent;
        color: transparent;
        padding: 12px 16px;
        background-color: transparent;
        font-weight: 600;
        cursor: pointer;

        &--first {
            background-color: #66cfbc;
            border-color: #66cfbc;
            color: white;
        }

        &--second {
            background-color: #eefcf9;
            border-color: #4dd5bc;
            color: #4dd5bc;
        }
    }
}

.game-over {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;

    &__img {
        height: 150px;
        width: 600px;
        background-color: aqua;
    }

    &__span {
        margin-top: 120px;
        margin-bottom: 16px;
        font-size: 24px;
    }
}

.winner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;

    &__special-img {
        display: none;
        height: 200px;
        width: 900px;
        background-color: red;
        margin-bottom: 24px;
    }

    &__span {
        font-size: 24px;
        margin-bottom: 8px;
    }

    &__h2 {
        margin: 0;
        font-size: 48px;
    }

    &__img {
        width: 200px;
        height: 280px;
        margin-top: 48px;
        margin-bottom: 40px;
        background-color: orange;
    }
}

.display-none {
    display: none;
}
