.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #303131;
    background-image: url('/assets/img/index_stadia_controller.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 320px;

    &__span{
        font-family: "Almarai";
        font-weight: 400;
        font-size: clamp(20px, 3.33vw, 48px);
        color: white;
    }
    
    &__h1{
        font-family: "RedRose";
        font-weight: 700;
        font-size: clamp(40px, 9.722vw, 140px);
        margin: 0;
        color: white;
    }
}