@use "../abstracts/variables" as var;

.index-body {
    background-image: url("");
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    // >.start-screen__span{

    // }

    // >.start-screen__h1{

    // }
}

.to-settings {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var.$yellow;
    border: none;
    margin: 0;
    padding: 16px;

    &__img {
        height: 12px;
        aspect-ratio: 1 / 1;
        background-color: black;
        &--left {
            transition: transform 300ms ease-in-out;
        }
    }

    // &__span{

    // }

    &:hover &__img--left {
        transform: rotate(-45deg);
    }
}
