@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

@mixin selectedImg($url: "", $color: transparent) {
    background-image: url($url);
    background-color: $color;
}

@mixin pseudo($selector, $value) {
  &__radio#{$selector} + &__radio-box{
    border-width: 2px;

    &::after {
        opacity: $value;
    }
  }
}

.settings-section {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 128px 24px;
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    justify-self: center;
    gap: 64px 8px;

    &:has(#code-vibes-theme:checked) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/code-vibes-theme.png", #4acfb6);
    }

    &:has(#gaming-theme:checked) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/gaming-theme.png", #981c5a);
    }

    &:has(#da-projects-theme:checked) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/da-projects-theme.png", #1d708e);
    }

    &:has(#foods-theme:checked) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/foods-theme.png", #f0812c);
    }

    &:has(#code-vibes-theme:hover) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/code-vibes-theme.png", #4acfb6);
    }

    &:has(#gaming-theme:hover) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/gaming-theme.png", #981c5a);
    }

    &:has(#da-projects-theme:hover) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/da-projects-theme.png", #1d708e);
    }

    &:has(#foods-theme:hover) .settings-section__right__theme-img {
        @include selectedImg("/assets/img/foods-theme.png", #f0812c);
    }

    &:has(.options__option__radio[name="game-themes"]:checked) .start-box__slash:nth-of-type(1),
    &:has(.options__option__radio[name="choose-player"]:checked) .start-box__slash:nth-of-type(2){
        width: 4px;

        &::after{
            content: "";
            position: absolute;
            background-color: #f0ea6e;
            height: 12px;
            width: 12px;
            rotate: 45deg;
            bottom: 0;
            left: -4px;
        }
    }

    @include mix.responsiveMaxX(900px) {
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
        justify-content: flex-start;
    }

    @include mix.responsiveXY(1024px, 600px) {
        padding: 48px 24px;
    }
}

.settings-section__left {
    display: flex;
    flex-direction: column;

    @include mix.responsiveMaxX(900px) {
        width: 187px;
    }

    &__h1 {
        position: relative;
        margin: 0;
        padding: 0px 12.74px;
        font-family: 'RedRose';
        font-weight: 700;
        font-size: clamp(32px, 3.75vw, 54px);

        &::before {
            @include mix.befor-after(var.$yellow);
            height: 16px;
            width: 16px;
            rotate: 45deg;
            bottom: -8px;
            left: -8px;
        }

        &::after {
            @include mix.befor-after(var.$yellow);
            height: 4px;
            width: clamp(156px, 17.436vw, 251px);
            bottom: -2px;
            left: 0px;
        }
    }
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: clamp(20px, 2.778vw, 40px);

    &__title {
        display: flex;
        align-items: center;
        gap: 8px;

        &__img {
            height: 32px;
            aspect-ratio: 1 / 1;
        }

        &__h2 {
            margin: 0;
            font-family: 'almarai';
            font-weight: 700;
            font-size: clamp(20px, 1.389vw, 24px);
        }
    }

    &__option {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-left: clamp(16px, 3.056vw, 44px);
        height: 24px;
        cursor: pointer;
        width: max-content;

        @include mix.responsiveMaxX(900px) {
            background-color: #ffffffb3;
        }

        &__radio{
            display: none;
        }

        &__radio-box{
            height: 20px;
            aspect-ratio: 1/1;
            border: 3px solid #303131;
            border-radius: 50%;
            position: relative;
            box-sizing: border-box;

            &::after {
                content: "";
                position: absolute;
                inset: 5px;
                border-radius: 50%;
                background: #303131;
                opacity: 0;
                transition: 0.2s;
            }
        }

        &__span{
            font-family: 'almarai';
            font-weight: 400;
            font-size: clamp(16px, 1.389vw, 20px);
        }

        @include pseudo(":hover", .5);
        
        @include pseudo(":checked", 1);
    }
}

.options__option {
    &__radio:checked ~ &__span {
        position: relative;
        font-weight: 700;

        &::before {
            @include mix.befor-after(var.$yellow);
            height: 3px;
            width: 41px;
            right: -52px;
            align-self: center;
        }

        &::after {
            @include mix.befor-after(var.$yellow);
            height: 9px;
            width: 9px;
            rotate: 45deg;
            align-self: center;
            right: -56px;
        }
    }

    &:has(.options__option__radio:checked) {
        cursor: default;
    }
}

.settings-section__right__over-box{
    display: flex;
    justify-content: flex-end;
    width: 680px;

    @include mix.responsiveMaxX(900px) {
        width: auto;
    }
}

.settings-section__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: flex-end;

    &__theme-img{
        background-size: contain;
        background-repeat: no-repeat;
        width: 460px;
        aspect-ratio: 115 / 103;
        border-radius: 16px;
    
        @include mix.responsiveMaxX(900px) {
            position: absolute;
            top: 80px;
            z-index: -1;
            width: 200px;
            margin-right: 0px;
        }
    }

    @include mix.responsiveMaxX(900px) {
        align-items: center;
    }
}

.start-box {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: #f6f6f6;
    padding: 12px;
    justify-content: center;
    align-self: start;


    @include mix.responsiveMaxX(900px) {
        position: fixed;
        bottom: 0;
        background-color: #808080bf;
        align-self: auto;
        flex-wrap: wrap;
    }

    &__span{
        font-family: 'almarai';
        font-weight: 400;
        font-size: clamp(16px, 1.389vw, 20px);
        white-space: nowrap
    }

    &__slash {
        width: clamp(4px, 0.556vw, 8px);
        height: clamp(40px, 3.889vw, 56px);
        background-color: var.$yellow;
        rotate: 20deg;
    }
}